@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//tema
$header-color: #141E30;
$background-color: rgb(255,255,255);
$span-color: #ff3000;
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../assets/wall.png') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

span {
    color: $span-color;
    font-weight: 700;
    font-style: italic;
}

@media only screen and (max-width: 720px) {
    .title {
        font-size: 6vh;
    }
}
.hero01 {
    background-color: $header-color;
    color: #fff;
}

.hero02 {
    background: rgb(102,0,255);
    background: linear-gradient(45deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 35%, rgba(255,124,0,1) 65%, rgba(255,0,228,1) 100%);
    color: #fff;
}

.hero03 {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,234,238,1) 100%);
}

.wall-svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wall {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.2) 100%), url("../assets/wall.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.wall-2 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.2) 100%), url("../assets/wall.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall-3 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/social.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.wall-4 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/social.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall-5 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/web.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.wall-6 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/web.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wave{
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.icon {
    height: 95px;
    margin: 20px;
}

.phone, .notebook, .contract {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.clients {
    width: 100%;
}

@media only screen and (max-width: 1080px) {
    .phone, .notebook, .contract {
      display: none;
    }
  }

.box-product {
    padding: 15px;
    border: dotted;
    height: 250px;
}

.product {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 150px;
    height: 100%;
}

.bg-1 {
    padding: 50px;
    height: 50vh;
}

.card-0 {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    padding: 20px;
}

.card-1 {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50px 50px 50px 15px;
}

.card-2 {
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    color: $header-color;
}

.divisor {
    height: 6px;
    width: 80px;
    padding: 0;
    margin: 10px 0;
    border-radius: 20px;
    background-color: $span-color;
    position: relative;
    left: -25px;
}

.preloader-1{
    height: 30px;
    width: 100%;
    border: 2px solid $header-color;
    padding: 2px;
    margin: 25px 0;
    border-radius: 50px 50px 50px 15px;
}
.preloader-2{
    height: 100%;
    background-color: $span-color;
    border-radius: 50px 50px 50px 15px;
    padding:0 15px;
    color: #fff;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    margin: 10px 0;
    background: $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 5px 5px #00000025;
}

.button:hover {
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    margin: 10px 0;
    background: $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 10px 15px #00000025;
    transition: .8s;
}

.button-1 {
    text-decoration: none;
    color: $span-color;
    padding: 5px 20px;
    margin: 10px 0;
    border: 2px solid $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 5px 5px #00000025;
}

.button-1:hover {
    text-decoration: none;
    color: #fff;
    background-color: $span-color;
    padding: 5px 20px;
    margin: 10px 0;
    border: 2px solid $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 10px 15px #00000025;
    transition: .8s;
}

.nav-item {
    margin: 0px 15px;
}

.bg-navbar {
    background: rgba(20, 30, 48, 0.100);
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

.bg-navbar-scroll {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(90deg, to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 3px solid $span-color;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

.perfil {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 25px;
    border: 3px solid $span-color;
}

.social-icon {
    width: 25px;
    margin: 0px 10px;
}

::-webkit-scrollbar {
    //display: none;
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
  }   
  
::-webkit-scrollbar-thumb {
    background: $span-color; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #aa2d00; 
  }

.slide-top {
    -webkit-animation: slide-top 1.2s linear infinite alternate-reverse both;
    animation: slide-top 1.2s linear infinite alternate-reverse both
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

.heartbeat:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    10% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    17% {
        -webkit-transform: scale(.99);
        transform: scale(.99);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    33% {
        -webkit-transform: scale(.97);
        transform: scale(.97);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    10% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    17% {
        -webkit-transform: scale(.99);
        transform: scale(.99);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    33% {
        -webkit-transform: scale(.97);
        transform: scale(.97);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal .9s infinite both;
    animation: jello-horizontal .9s infinite both
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1.000) both
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

::selection {
    background: $span-color;
    color: #fff;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius:20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.slide-bottom{-webkit-animation:slide-bottom 1s linear infinite alternate-reverse both;animation:slide-bottom 1s linear infinite alternate-reverse both}

 @-webkit-keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(20px);transform:translateY(20px)}}@keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(20px);transform:translateY(20px)}}

///////////////////

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
