@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
//tema
$header-color: #141E30;
$background-color: rgb(255,255,255);
$span-color: #ff3000;
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../assets/wall.png') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

hr {
    opacity: 0.1;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 0;
    margin: 0 0 10px 0;
    font-family: 'Shadows Into Light', cursive;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

h4 {
    margin: 25px 0;
    font-style: italic;
}

span {
    color: $span-color;
    font-weight: 700;
    font-style: italic;
}

@media only screen and (max-width: 720px) {
    .title {
        font-size: 6vh;
    }
}
.hero01 {
    background-color: $header-color;
    color: #fff;
}

.hero02 {
    background: rgb(102,0,255);
    background: linear-gradient(45deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 35%, rgba(255,124,0,1) 65%, rgba(255,0,228,1) 100%);
    color: #fff;
}

.hero03 {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(209, 224, 240) 100%);
}

.wall-svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wall {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.2) 100%), url("../assets/wall.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.wall-2 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.2) 100%), url("../assets/wall.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall-3 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/social.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.wall-4 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/social.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall-5 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/web.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.wall-6 {
    background: linear-gradient(90deg, rgb(1, 3, 17) 0%, rgba(0, 25, 59, 0.3) 100%), url("../assets/web.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wave{
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.icon {
    height: 95px;
    margin: 20px;
}

.phone, .notebook, .contract {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.clients {
    width: 100%;
}

@media only screen and (max-width: 1080px) {
    .phone, .notebook, .contract {
      display: none;
    }
  }

.box-product {
    padding: 15px;
    border: dotted;
    height: 250px;
}

.product {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 150px;
    height: 100%;
}

.bg-1 {
    padding: 50px;
    height: 50vh;
}

.card-0 {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    padding: 20px;
}

.card-1 {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50px 50px 50px 15px;
    padding: 15px;
    color: #fff;
}

.card-2 {
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    color: $header-color;
}

.divisor {
    height: 6px;
    width: 80px;
    padding: 0;
    margin: 20px 0;
    border-radius: 20px;
    background: rgb(141,0,255);
    background: linear-gradient(90deg, rgba(141,0,255,1) 0%, rgba(253,29,29,1) 50%, rgba(255,98,0,1) 100%);
    position: relative;
    left: -25px;
}

.preloader-1{
    height: 30px;
    width: 100%;
    border: 2px solid $header-color;
    padding: 2px;
    margin: 25px 0;
    border-radius: 50px 50px 50px 15px;
}
.preloader-2{
    height: 100%;
    background-color: $span-color;
    border-radius: 50px 50px 50px 15px;
    padding:0 15px;
    color: #fff;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    margin: 10px 0;
    background: $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 5px 5px #00000025;
    transition: .3s;
}

.button:hover {
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    margin: 10px 0;
    background: $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 10px 15px #00000025;
    transition: .8s;
}

.button-1 {
    text-decoration: none;
    color: $span-color;
    padding: 5px 20px;
    margin: 10px 0;
    border: 2px solid $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 5px 5px #00000025;
    transition: .3s;
}

.button-1:hover {
    text-decoration: none;
    color: #fff;
    background-color: $span-color;
    padding: 5px 20px;
    margin: 10px 0;
    border: 2px solid $span-color;
    border-radius: 50px 50px 50px 15px;
    box-shadow: 0px 10px 15px #00000025;
    transition: .8s;
}

.nav-item {
    margin: 0px 15px;
}

.bg-navbar {
    backdrop-filter: blur(5px);
    transition: ease 0.8s;
}

.bg-navbar-scroll {
    background-color: #141e3099;
    backdrop-filter: blur(10px);
    border-radius:10px;
    margin: 10px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.perfil {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 25px;
    transition: ease .8s;
}
.card-blur{
    backdrop-filter: blur(15px);
    background: #ffffff10;
    border-radius:25px;
    width: 100%;
    height: 100%;
    transition: ease 1s;
}
.card-blur:hover{
    transition: ease .3s;
    transform:scale(1.1);
}

.social-icon {
    width: 25px;
    margin: 0px 10px;
}

::-webkit-scrollbar {
    //display: none;
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
  }   
  
::-webkit-scrollbar-thumb {
    background: $span-color; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #aa2d00; 
  }

.slide-top {
    -webkit-animation: slide-top 1.2s linear infinite alternate-reverse both;
    animation: slide-top 1.2s linear infinite alternate-reverse both
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

.heartbeat:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    10% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    17% {
        -webkit-transform: scale(.99);
        transform: scale(.99);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    33% {
        -webkit-transform: scale(.97);
        transform: scale(.97);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    10% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    17% {
        -webkit-transform: scale(.99);
        transform: scale(.99);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    33% {
        -webkit-transform: scale(.97);
        transform: scale(.97);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal .9s infinite both;
    animation: jello-horizontal .9s infinite both
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1.000) both
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

::selection {
    background: $span-color;
    color: #fff;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius:20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.slide-bottom{-webkit-animation:slide-bottom 1s linear infinite alternate-reverse both;animation:slide-bottom 1s linear infinite alternate-reverse both}

 @-webkit-keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(20px);transform:translateY(20px)}}@keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(20px);transform:translateY(20px)}}

///////////////////

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

//pricing

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 1.6rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }


  //banner-service
  .service-2{
      display: none;
  }
  @media only screen and (max-width: 600px){ //some value
    .service-1{
      display: none;
    }
  
    .service-2{
      display: block;
    }
  }

  //anime text
    .text-focus-in{-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}

    @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}