@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,242,250,1) 100%);
}
h1{
  font-size: 6vw;
  font-weight: 800;
}
h2{
  font-weight: 600;
}
p{
  font-weight: 200;
}
@media only screen and (max-width: 900px){
  h1{    
    font-size: 60px;
  }
}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:rgb(192, 192, 192);
}
.button{
  padding:10px;
  border-radius:50px;
}
.divisor{
  height: 12px;
  width: 20%;
  margin: 20px 0;
  background-color: #fff;
}
.hero1{
  background: rgb(255,0,0);
  background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,106,0,0.800) 100%), url('wall.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  color: #fff;
}
.hero2{
  background-color: #0E1C2C;
  color: #fff;
}
.perfil{
  border-radius:50%;
  width: 150px;
  height: 150px;
  border: 8px solid red;
  margin-bottom:50px;
}
.perfil img{
  border-radius: 50%;
  width: 100%;
}

.fadeIn {
  -webkit-animation: fadeIn 3s ease-in-out;
  -moz-animation: fadeIn 3s ease-in-out;
  -o-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
  }

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  .slide-bottom {
    animation: slide-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
  }

  @keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
    }
  }